[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200
via_ir = true
gas_reports = ["*"]
fuzz = { runs = 1000 }
invariant = { runs = 256, depth = 15 }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
